body {
	font-family: arial, sans-serif;
}
.hello-badge {
	width: 600px;
	min-height: 300px;
	border: solid pink 3px;
	border-radius: 15px;
	background-color: pink;
}
h1, h2, h3 {
	margin: 0px;
	padding: 15px 0 0 0;
}
p {
	text-align: center;
	font-size: 48pt;
	margin: 0;
	padding: 50px 0 0 0;
}
.badge-header {
	display: block;
	height: 80px;
	line-height: 1em;
	text-align: center;
}
.name-space {
	display: block;
	height: 180px;
	background-color: white;
}
.badge-footer {
	display: block;
	height: 40px;
}